// --------------------------------------------------
// Blog 
// --------------------------------------------------

.blog {
    padding-top: 120px;

	.news-wrapper {
		padding: 30px;
		margin-bottom: $margin-bottom-news;
		box-shadow: 0 0px 8px 1px rgba(0,0,0,0.1);
		
		.news-media-wrapper {
			margin-bottom: $margin-bottom-news;
		}

		.news-meta-wrapper {
			margin-bottom: $margin-bottom-news;
			.meta {
				color: $font-color-dark;
				font-size: $font-size-5;
				position: relative;
				padding: 0 5px 0 15px;
				display: inline-block;
				transition: all 0.3s;
				&:hover {
					color: $secondary-color;
				}

				&:before{
					position: absolute;
					left:0;
					top: 0;
					content: '.';
					font-size: $font-size-3;
					font-weight: 600;
					line-height: 0;
					color: $primary-color-light;
				}
				&.published {
					padding-left: 0;
					&:before{
						content: '';
					}
				}
			}
			
		}

		.news-title-wrapper {
			margin-bottom: $margin-bottom-news;
			h3 > a.news-title {
				color: $black;
				font-size: $font-size-4;
				font-weight: 600;
				text-decoration: none;
				transition: all 0.4s;

				&:hover {
					color: $secondary-color;
				}
			}
			
		}

		.news-text-wrapper {
			margin-bottom: $margin-bottom-news;
			line-height: 1.7;
		}

		.news-author-wrapper {
			position: relative;

			.author-pic img {
				max-width: 50px;
			}

			.author-name {
				position: absolute;
				top:50%;
				transform: translatey(-50%);
				left:60px;
				color: $font-color-dark;
				font-size: $font-size-5;
				transition: all 0.4s;

				&:hover {
					color: $secondary-color;
				}
			}
		}

		.news-buttons-wrapper {
			position: relative;
			float: right;
			bottom: 35px;
			a {
				text-decoration: none;
				color: $primary-color-light;
				span {
					padding: 3px;
				}
				&:hover span {
					color: $secondary-color;
				}
				&.like-button {
					padding-right: 15px;
				}
			}
		}
	}
}