// --------------------------------------------------
// Header 
// --------------------------------------------------

.breadcrumbs {
    
	@media (max-width: $sm-screen-width - 1) { display: none; }
	@media (min-width: $sm-screen-width) { background-image: url(img/bg-header-450px.jpg); }
	@media (min-width: $md-screen-width) { background-image: url(img/bg-header-600px.jpg); }
	@media (min-width: $lg-screen-width) { background-image: url(img/bg-header-750px.jpg); }
	
    top: 50px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
    padding-top: 50px;
    color: $font-color-light;;
	
	.title h3 { 
			text-transform: uppercase;
			font-size: $font-size-4;
	}

	.breadcrumb {
		background-color: transparent;
		text-align: center;
		li {
			color: $font-color-light;
			a { 
				color: $font-color-light;
				text-decoration: none;
				&:hover, &:active {
					color: $secondary-color-light;
				}
			}
		}
	}

    .fadeInUp {
    animation-name: fadeInUp;
    }
    .animated {
        animation-fill-mode: both;
        animation-duration: 1s;
    }
}