// --------------------------------------------------
// Header 
// --------------------------------------------------

.innerheader{
    background-image: url(img/bg-header.jpg);
    top: 50px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
    padding-top: 80px;
	padding-bottom: 20px;
    color: white;
	
	.breadcrumb{
		background-color: transparent;
		text-align: center;
        a { 
			color: white;
			text-decoration: none;
			&:hover, &:active {
				color: $secondary-color-light;
			}
		}
	}

	.inner-title { 
		h3 {
			text-transform: uppercase;
			font-size: $font-size-2;
			margin-bottom: 10px;
			font-weight: 700;
		}
		p {
			font-size: $font-size-3;
			line-height: 2.2rem;
		}
	}

    .fadeInUp {
    animation-name: fadeInUp;
    }
    .animated {
        animation-fill-mode: both;
        animation-duration: 1s;
    }
}