// --------------------------------------------------
// Menús 
// --------------------------------------------------

// Menú Principal
ul {
	&.top-links {
		margin-bottom: 0;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		@media (min-width: $sm-screen-width) {
			border-bottom: none;
			float: left;
		}
		@media (max-width: $sm-screen-width) {
			display: none;
		}
		
		li {
			display: block;
			float: left;
			width:auto;
			@media (min-width: $sm-screen-width) {
				border-right: 1px solid rgba(0,0,0,0.1);
				&:last-child {
					border-right:none;
				}
			}

			a {
				display: block;
				padding: 0 6px;
				line-height: 50px;
				color: $primary-color-light;
				letter-spacing: 1px;
				font-weight: 600;
				font-size: $font-size-5;
				text-decoration: none;

				&:hover, &:active {
					color: $secondary-color-light;
				}

				@media (min-width: $sm-screen-width) {
					padding: 0 15px;
				}
				@media (max-width: $sm-screen-width) {
					span.social-links {
						display: none;
					}
				}
			}
		}
	}
	&.top-links-right {
		@extend .top-links;
			float: right;
	}
}

// Menu Categorías
.categories {
	letter-spacing: 1px;
	width: 100%;
	padding: 0 70px;

	@media (min-width: $lg-screen-width){
		padding: 0 50px;
	}

	@media (max-width: $md-screen-width){
		padding: 0;
		letter-spacing: 0.5px;
	}

	@media (max-width: $sm-screen-width){
		background-image: linear-gradient(0deg, $font-color-light 0%, $font-color-dark 100%);
	}

	a {
		text-decoration: none;
	}

	.categories-menu {
		margin: 0px 10px 0px 0px;
		padding: 0;
		float: right;
		@media (max-width: $sm-screen-width) {
			display: none;
			&.visible {
				display: block
			}
		}
		& > li {
			display: inline-block;
		}
		& > li > a {
			color: $white;
			font-size: $font-size-5;
			font-family: $alt_font;
			padding: 25px 10px;
			display: inline-block;
			outline: 0;
			text-align: center;
			&:hover, &:active {
				color: #cdcdcd;
			}

			&.login-link {
				display: none;
			}
			@media (min-width: $lg-screen-width) {
				font-size: $font-size-4;
			}
		}		
	}
		
	.brand {
		font-family: $title_font;
		font-size: $font-size-3;
		line-height: 1.3;
		cursor: pointer;
		margin: 20px;
		float: left;
		color: $white;
		@media (min-width: $lg-screen-width) {
				font-size: $font-size-2;
				margin: 18px 0px 0px 10px;
		}
		@media (max-width: $md-screen-width){
			margin: 18px 0px 0px 15px;
		}
		@media (max-width: $sm-screen-width){
			color: $white;    
		}
	}

	.showhide {
		width: 60px;
		padding: 13px 0 0;
		display: none;
		float: right;

		em {
			width: 20px;
			height: 3px;
			margin: 3.5px 20px 0;
			float: right;
			background: $white;
		}
		@media (max-width: $sm-screen-width) {
			display: inline-block;
		}
		
	}
}

@media (max-width: $sm-screen-width) {
	.categories-responsive .categories-menu > li {
			width: 100%;
			display: block;
			position: relative;
		}

		.categories-responsive .categories-menu > li > a {
			width: 100%;
			padding: 12px 20px;
			display: block;
			border-bottom: solid 1px #f0f0f0;
		}

		.categories-responsive .categories-menu > li:first-child > a {
			border-top: solid 1px #f0f0f0;
		}

		.categories-responsive {
			.categories-menu{
			width: 100%;
		}

			.categories-menu > li {
				
				display: block;
				position: relative;
			}

			.categories-menu > li > a {
				border-bottom-color: #626262;
				color: #fff;

				&.login-link {
					display: block;
				}
			}

			&.categories{
				padding: 0;
			}
		}

		
		.categories {
			width: 100%;
			.categories-menu > li > a {
				padding: 15px;
			}
			.brand {
			margin: 8px 30px 10px 20px;
		}
	}
}

.nav-fixed-top {
	position: fixed;
	top: 0;
	background: $white;
	transform: translate3d(0, -120px, 0);
	box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
	.categories-menu > li > a, .brand {
		color: black;
	}
}
.nav-fixed-top-transition {
	transition: transform .5s ease-in-out;
}
.nav-fixed-top-animate {
	transform: translate3d(0, 0px, 0);
}