// --------------------------------------------------
// Etiquetas 
// --------------------------------------------------

* { 
    box-sizing:border-box; 
    outline: none;
}

html {
  font-size: 16px;
}
 
body {
  font-family: $body_font;
  color: $primary-color;
}

h1, h2, h3, h4, h5 {
  font-family: $title_font;
  font-weight: 700;
  margin-bottom: 0.42em;
}

h6 {
  font-family: $alt_font;
  text-transform: uppercase;
  letter-spacing: 1px;
  
}

nav {
    width: 100%;
}

article {
	padding-bottom: 50px;
}

video {
  width: 100%;
  height: auto;
}

img { 
    max-width: 100%
}

iframe {
    @extend video;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}

