// --------------------------------------------------
// Variables 
// --------------------------------------------------

// Colores
$white: #fff;
$black: #000;
$primary-color: #181622;
$primary-color-light: #d0d0d0;
$secondary-color: #42b574;
$secondary-color-light: #84c450;

$font-color-dark: #676767;
$font-color-light: #919191;

// Fuentes
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
$title_font: Poppins, sans-serif;
$alt_font: Montserrat, sans-serif;
$body_font: Lora, serif;

$font-size-1: 3.9rem;
$font-size-2: 2.8rem;
$font-size-3: 1.9rem;
$font-size-4: 1.4rem;
$font-size-5: 0.9rem;
$font-size-6: 0.7rem;
$font-size-7: 0.5rem;

// Responsive
$lg-screen-width: 1200px;
$md-screen-width: 992px;
$sm-screen-width: 768px;
$xs-screen-width: 450px;

// Border Radius
$primary-border-radius: 3px;

// Márgenes
$margin-bottom-news: 25px;