// --------------------------------------------------
// Variables 
// --------------------------------------------------

// Colores
$white: #fff;
$black: #000;

// Fuentes

$title_font: Poppins, sans-serif;
$alt_font: Montserrat, sans-serif;
$body_font: Lora, serif;
